body {
    font-family: Calibri, sans-serif; /* Define a fonte Calibri para todo o documento */
}


body {
    text-align: center; /* Alinha todo o texto dentro do body */
}
h1{
    font-size: 100px;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}


  .body{                            /* bagulho do rafael */
    font-family: monospace;
}
.a{
    text-decoration: none;
    color: black
}
.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 10px;
}

h8{
    font-size: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

h7{
    font-size: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

h9{
    font-size: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: rgb(247, 247, 247);
    color: black;
    align-items: center;
    border: 1px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5)
}
.direita img{
    width: 40%;
}
.direita, .esquerda{
    width: 50vw;
}

.meio{
    text-align: center;
    background-color: #bebebe;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 7px 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
}