footer{
    display: flex;
    color: white;
    text-align: center;
    margin: 0px 800px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a{
    text-decoration: none;
    color: rgb(240, 219, 109);    
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    color: rgb(240, 219, 109);
    align-items: center;
    border: 50px;
    border:solid 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 20px;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
    font-family: Calibri, sans-serif;
    background-color: black;
}